.cabecalho__menu-hamburguer {
    height: 50px;
    width: 50px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container,
.container__icones {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.png");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--amarelo);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.containner__titulo,
.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 5em;
    }

    .containner__titulo,
    .containner__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .containner__titulo{
        font-weight: 400;
        display: block;
    }

    .containner__titulo-negrito {
        font-weight: 700;
    }
    
    .opcoes {
        display: flex;
        align-items: center;
    }

    .opcoes__item {
        padding: 0 1.5em;
        text-transform: uppercase;
    }

    .opcoes__item {
        padding-left: 1.7em;
        padding-right: 1.7em;
    }

    .opcoes__menu:hover {
        cursor: pointer;
    }

    .lista-menu__titulo,
    .lista-menu__item {
        padding: 1.5em 2.5em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
    
    .opcoes__link {
        text-decoration: none;
        color: var(--preto-negrito);
    }

    .cabecalho__menu-hamburguer,
    .container__favoritos,
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao:checked~.opcoes__menu>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
        padding: 1.7em 2em;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: var(--preto-negrito);
        margin-right: 20px;
    }

    .cabecalho {
        padding: 0 5em;
    }

    .container__texto {
        display: block;
    }
    .opcoes {
        margin-right: auto;
        margin-left: 60px;
    }
}
